.contact-desktop,
.contact-mobile {
  border: 1px solid #6c6868;
  background-color: #6c6868;
}

.contact-title {
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-subtitle {
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 300;
}

.button-contact {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 243px;
  border: none;
}

.button-contact-p {
  color: #707070;
  font-weight: 300;
  font-size: 1rem;
}

.button-contact:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1199.98px) {
  .contact-mobile {
    height: 351px;
  }

  .contact-desktop {
    display: none !important;
  }

  .contact-title {
    font-size: 36px;
    line-height: 48px;
    width: 274px;
    height: 99px;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: 36px;
  }
}

@media (min-width: 1200px) {
  .contact-mobile {
    display: none !important;
  }

  .contact-desktop {
    height: 351px;
  }

  .contact-title {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: bold;
  }

  .contact-subtitle {
    font-size: 1.25rem;
    line-height: 36px;
  }
}
