.black-circle,
.white-circle {
  border-radius: 48px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-circle {
  background-color: #3c3c3c;
}

.white-circle {
  background-color: #fff;
  border: 1px solid black;
}

.white-number,
.black-number {
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

.white-number {
  color: #fcfcfc;
}

.black-number {
  color: #6c6868;
}

.title-planning,
.subtitle-planning,
.title-info,
.subtitle-info {
  text-align: left;
  color: #707070;
}

.title-planning {
  font-weight: bold;
}

.subtitle-planning {
  font-weight: 300;
}

.title-info {
  font-weight: bold;
}

.subtitle-info {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.link-info-planning {
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  color: #6c6868;
}

.link-info-planning-active {
  color: #000000 !important;
}

.link-info-planning:hover {
  color: #707070;
  opacity: 0.6;
  cursor: pointer;
}

.title-emphasis,
.subtitle-emphasis,
.description-emphasis {
  color: #707070;
}

.title-emphasis {
  font-weight: bold;
}

.subtitle-emphasis,
.description-emphasis {
  font-weight: 300;
}

.mini-title {
  font-weight: bold;
  color: #707070;
}

.mini-description {
  font-weight: 300;
  color: #707070;
}

.mr-mini {
  margin-right: 2.938rem;
  margin-bottom: 2rem;
}

.mr-circle {
  margin-right: 9px;
}

/* .mt-circles {
  margin-top: 29px;
} */

.hover-circle:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 1199.98px) {
  .planning-mobile {
    padding-top: 76px;
  }

  .desktop-layout {
    display: none;
  }

  .control-title-planning {
    width: 274px;
    margin-bottom: 4px;
    text-align: center;
  }

  .title-planning {
    font-size: 36px;
    line-height: 48px;
  }

  .control-subtitle-planning {
    width: 220px;
    height: 23px;
    margin-bottom: 39px;
  }

  .subtitle-planning {
    font-size: 16px;
    line-height: 36px;
  }

  .placement-area-slide {
    height: 129px;
    background-color: #f0f0f0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .big-circle-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c6868;
    width: 4.813rem;
    height: 77px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 45px;
  }

  .left-negative {
    margin-left: -1rem;
  }

  .right-negative {
    margin-right: -1rem;
  }

  .control-subtitle-info {
    width: 250px;
    min-height: 41px;
  }

  .title-info {
    font-size: 1rem;
  }

  .subtitle-info {
    font-size: 14px;
    line-height: 21px;
  }

  .link-info-planning {
    font-size: 12px;
  }

  .control-subtitle-info,
  .control-title-info,
  .control-link-info-planning {
    width: 250px;
  }

  .bottom-line {
    bottom: 0;
    height: 56px;
    border: 1px solid #707070;
    margin-left: -10px;
    width: 0px;
  }

  .mt-negative-circle {
    margin-top: -3.5rem;
  }

  .control-subtitle-emphasis {
    width: 230px;
    height: 68px;
    text-align: center;
  }

  .subtitle-emphasis {
    color: #707070;
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
  }

  .control-description-emphasis {
    width: 320px;
    height: 104px;
    margin-top: 8px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .description-emphasis {
    font-size: 14px;
    line-height: 21px;
  }

  .mini-infos {
    overflow-x: auto;
    min-height: 162px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 110px;
    width: 100%;
    padding-left: 106px;
  }

  .mini-title {
    font-size: 16px;
    line-height: 25px;
    white-space: nowrap;
  }

  .control-mini-description {
    width: 99px;
    height: 38px;
    margin-bottom: 0.75rem;
  }

  .mini-description {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: 1200px) {
  .planning {
    background: linear-gradient(90deg, #cbcbcb 50%, #fff 50%);
  }

  .custom-row {
    padding-top: 5.25rem;
  }

  .title-planning {
    font-size: 40px;
    line-height: 60px;
  }

  .subtitle-planning {
    font-size: 20px;
    line-height: 36px;
  }

  .control-title-planning {
    width: 30.26vw;
    min-height: 56px;
    margin-bottom: 8px;
  }

  .control-subtitle-planning {
    width: 14.32vw;
    min-height: 28px;
    margin-bottom: 24px;
  }

  .card-vertical {
    margin-bottom: 36px;
    justify-content: space-between;
    width: 26.88vw;
    height: 134px;
  }

  .title-info {
    font-size: 16px;
    line-height: 18px;
    margin-top: 0.5rem;
  }

  .control-subtitle-info {
    width: 13.02vw;
    min-height: 38px;
  }

  .subtitle-info {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0.5rem;
  }

  .white-block {
    width: 13.02vw;
    height: 100%;
    box-shadow: 0px 3px 6px 3px #00000029;
    background-color: #e7e7e7;
  }

  .planning {
    display: flex;
    flex-direction: row;
  }

  .black-circle-margin {
    margin-top: -15px;
    margin-left: 1rem;
  }

  .emphasis-image {
    width: 40.26vw;
    height: 344px;
    background-color: #f0f0f0;
    margin-top: 1.75rem;
    margin-left: -2vw;
  }

  .control-title-emphasis {
    width: 18.13vw;
    min-height: 33px;
    margin-bottom: 8px;
    margin-top: 51px;
  }

  .title-emphasis {
    font-size: 20px;
  }

  .control-subtitle-emphasis {
    width: 14.32vw;
    min-height: 28px;
    margin-bottom: 5px;
  }

  .subtitle-emphasis {
    font-size: 20px;
  }

  .control-description-emphasis {
    width: 29.79vw;
    min-height: 62px;
    margin-bottom: 1.813rem;
  }

  .description-emphasis {
    font-size: 14px;
  }

  .ml-text-emphasis {
    margin-left: 4.11vw;
  }

  .mini-title {
    margin-bottom: 8px;
    font-size: 1rem;
    white-space: nowrap;
  }

  .control-mini-description {
    width: 5.16vw;
    min-height: 38px;
    margin-bottom: 10px;
  }

  .mini-description {
    font-size: 14px;
  }

  .mb-mini {
    margin-bottom: 1.813rem;
    flex-wrap: wrap;
  }

  .layout-mobile {
    display: none !important;
  }
}
