.lists-title,
.lists-subtitle {
  color: #707070;
}

.lists-title {
  font-weight: bold;
}

.lists-subtitle {
  font-weight: 300;
}

.list-of-cards {
  flex-wrap: wrap;
}

.card-ux {
  height: 204px;
  width: 14.563rem;
  background-image: url(../../../src/assets/card-background.png);
  box-shadow: 0px 0px 3px #00000029;
}

.card-ux-title {
  text-transform: uppercase;
  color: #707070;
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 8px;
  width: 8rem;
  text-align: left;
  font-weight: bold;
}

.card-ux-subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #707070;
  text-align: left;
}

.saiba-mais {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  width: 10.875rem;
  height: 39px;
  border: none;
  margin-top: -1.5rem;
}

.saiba-mais:hover {
  cursor: pointer;
  opacity: 0.7;
}

.saiba-mais-p {
  font-weight: 300;
  font-size: 16px;
  color: #707070;
}

.big-card-title {
  text-align: center;
}

.big-card-title,
.big-card-title2 {
  color: #707070;
  font-weight: bold;
}

.big-card-subtitle,
.big-card-subtitle2 {
  color: #707070;
  font-weight: 300;
}

@media (max-width: 1199.98px) {
  .desktop-layout {
    display: none !important;
  }

  .control-card-ux {
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .control-card-ux-subtitle {
    width: 8rem;
    min-height: 38px;
  }

  .cards-stretched {
    overflow-x: auto;
  }

  .big-card-texts {
    margin-bottom: 26px;
    margin-top: 84px;
  }

  .big-card-title {
    font-size: 36px;
    line-height: 48px;
  }

  .big-card-subtitle {
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 26px;
  }

  .double-triangle {
    background-image: url(../../assets/double-triangle-bg.png);
    background-size: 104% 100%;
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-position-y: 12px;
  }

  .double-triangle-title {
    color: #707070;
    font-weight: bold;
    font-size: 1rem;
    line-height: 36px;
  }

  .control-double-triangle-subtitle {
    max-width: 322px;
    min-height: 104px;
  }

  .control-pt {
    padding-top: 50px;
  }

  .big-white-circle {
    height: 171px;
    background-color: white;
    width: 100%;
    margin-top: 164px;
    border-radius: 0px 0px 600px 600px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .small-circle {
    width: 32px;
    height: 32px;
    background-color: #d8d8d8;
    border-radius: 34px;
  }

  .big-circle {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 34px;
    background-color: #6c6868;
    width: 68px;
    height: 68px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .circles {
    margin-bottom: -2.2rem;
  }

  .control-text-middle-absolute {
    position: absolute;
    top: 40px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    max-width: 178px;
    min-height: 68px;
  }

  .text-middle-absolute {
    color: #707070;
    font-size: 24px;
    line-height: 35px;
  }
}

@media (min-width: 1200px) {
  .cards-list {
    margin-top: 96px;
    margin-bottom: 103px;
  }

  .lists-title {
    font-size: 40px;
    line-height: 60px;
  }

  .lists-subtitle {
    margin-bottom: 36px;
    font-size: 20px;
    font-size: 20px;
    line-height: 36px;
  }

  .control-card-ux {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .control-card-ux-subtitle {
    width: 8rem;
    min-height: 38px;
  }

  .big-card {
    margin-top: 123px;
  }

  .big-card-texts {
    margin-bottom: 36px;
  }

  .big-card-title {
    font-size: 40px;
    line-height: 60px;
  }

  .big-card-subtitle {
    font-size: 20px;
    line-height: 36px;
    text-align: center;
  }

  .placement-area-img {
    margin-bottom: 8px;
  }

  .big-card-title2 {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 8px;
  }

  .big-card-subtitle2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .text-right {
    text-align: right;
  }

  .big-card-image {
    height: auto;
    background-image: url(../../assets/big-card-background.png);
    background-size: 100% 100%;
  }

  .big-card-button {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    height: 39px;
    border: none;
  }

  .big-card-button-p {
    font-weight: 300;
    color: #707070;
    font-size: 16px;
    line-height: 25px;
  }

  .info-left {
    margin-right: 4.16%;
  }

  .info-right {
    margin-left: 4.16;
  }

  .big-card-button:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .mobile-layout {
    display: none !important;
  }
}
